<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Appeal Page </title>
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body>

    <h3 class="uid"> <?php echo $opp_id ?> </h3>

    <div class="ac_info">
      <h3> Plaintiff Information </h3>
    </div>

    <div class="pl_info">
      <h3> Accused Information </h3>
    </div>

    <div class="cs_info">
      <h3> Case Information </h3>
    </div>

    <div class="wit_info">
      <h3> Witness Information </h3>
    </div>

    <div class="dec_info">
      <h3> Decision Information </h3>
    </div>

  </body>



</html>
